/vendor/
/node_modules/
npm-debug.log
yarn-error.log

# Laravel & Lumen specific
public/storage
public/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

# Editor
.idea/
.editorconfig
_ide_helper.php

# System
.DS_Store
