/* purgecss start ignore */
@tailwind base;
@tailwind components;

@supports (font-variation-settings: normal) {
    @font-face {
        font-family: 'Inter var';
        font-weight: 100 900;
        font-display: swap;
        font-style: normal;
        font-named-instance: 'Regular';
        src: url("Inter-roman.var.woff2?v=3.12") format("woff2");
    }
    @font-face {
        font-family: 'Inter var';
        font-weight: 100 900;
        font-display: swap;
        font-style: italic;
        font-named-instance: 'Italic';
        src: url("Inter-italic.var.woff2?v=3.12") format("woff2");
    }
}

.spinner {
    position: relative;
    pointer-events: none;
}

.spinner::after {
    content: '';
    position: absolute !important;
    top: calc(50% - (1em / 2));
    left: calc(50% - (1em / 2));
    display: block;
    width: 1em;
    height: 1em;
    border: 2px solid currentColor;
    border-radius: 9999px;
    border-right-color: transparent;
    border-top-color: transparent;
    animation: spinAround 500ms infinite linear;
}

@keyframes spinAround {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
/* purgecss end ignore */

@tailwind utilities;
